body {
  margin: 0px;
  padding: 0px;
}
nav {
  /* background-color: ; */
  height: 50px;
}
.navbar {
  display: flex;
  position: fixed;
}
.navbar .logo {
  color: gray;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.link {
  margin-left: auto;
  margin-right: 20px;
  padding: 5px;
}
.link a {
  text-decoration: none;
  font-weight: bold;
  padding: 0.5px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  font-size: small;
}
i {
  color: #bac864;
  padding: 3px;
}
/* jumbotron */
.jumbotron {
  background-image: url(./images/cover.png);
  background-size: cover;
  height: 640px;
}
/* .jumbotron::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgb(194, 188, 188), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
} */
/* .jumbotron .container {
  z-index: 1;
  position: relative;
} */
.jumbotron .display-4 {
  text-align: center;
  margin-top: 100px;
  font-family: Montserrat;
  color: #3d1f14;
  font-size: 35px;
  text-transform: uppercase;
}
.jumbotron .display-31 {
  text-align: center;
  margin-top: 40px;
  font-family: 'Ephesis', cursive;
  font-size: 35px;

  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.jumbotron .display-32 {
  text-align: center;
  margin-top: 40px;
  font-family: Dancing Script;
  font-size: 35px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

/* counter */
h4 {
  font-size: 25px;
  font-family: Montserrat;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.waktu .h2s {
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 27px;
}
.section-counter {
  background-color: white;
  color: black;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin-top: -50px;
}

.waktu .counter {
  font-size: 40px;
  text-transform: uppercase;
  font-family: JonahAFYL Light;
  font-weight: bold;
  src: url(JonahAFYL-Light.ttf);
  color: black;
}

.counter-title {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Klee One', cursive;
}
/* akhir counter */
/* waktu */
.waktu {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin-top: -60px;
  margin-bottom: 20px;
}
/* akhir waktu */
.item {
  transition: 0.5s ease-in-out;
}
.item:hover {
  filter: brightness(70%);
}
/* pembukaan dan kisah */
#pembukaan {
  font-family: Montserrat;
  font-weight: normal;
  background-color: #f2f9f2;
}
#pembukaan h2 {
  text-transform: uppercase;
  color: #3d1f14;
  font-weight: bolder;
}
#kisah {
  font-family: Montserrat;
  /* background-color: #f9f9f2; */
}
#kisah h2 {
  color: #3d1f14;

  font-size: 35px;
}
#kisah h5 {
  color: #bac864;
  font-weight: bolder;
  text-shadow: #a39d9d;
}

/*--------------------------------------------------------------
# Mempelai Section
--------------------------------------------------------------*/

#mempelainya {
  background-color: #f9f9f2;
  color: #3d1f14;
}

#mempelainya .container {
  font-family: 'Ephesis', cursive;
  font-size: 30px;
  justify-content: center;
}
#mempelainya .container .dan {
  font-family: 'Ephesis', cursive;
  font-weight: bold;
  /* font-family: 'Dancing Script', cursive;
  font-weight: bold; */
  font-size: 80px;
}

#mempelainya .container .caption {
  font-family: Montserrat;

  font-size: 16px;
  font-weight: normal;
}
#mempelainya h2 {
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 35px;
}

#tamu {
  background-image: url(./images/cover.png);
  background-size: cover;
  font-family: Montserrat;
  padding-top: 60px;
}
#akad {
  /* background-image: url(./images/cover.png);
  background-size: cover; */
  padding-bottom: 30px;
}

#akad h2 {
  font-family: Montserrat;
  text-transform: uppercase;

  color: #3d1f14;
  font-size: 35px;
}
#akad h3 {
  font-family: Montserrat;

  font-size: 25px;
}
#akad p {
  font-family: Montserrat;

  font-size: 16px;
  font-weight: normal;
}
.btn-maps {
  color: #ffffff;
}
.prokes {
  background-color: #f2f9f2;
  padding-top: 30px;
}

.galeri h1 {
  font-family: Montserrat;
  font-size: 35px;
  text-transform: uppercase;
  color: #3d1f14;
}
#tamu {
  font-family: Montserrat;
  font-weight: bold;
  text-transform: uppercase;
  color: #3d1f14;
}
.tehagi {
  width: 250px;
}

/*** music box ***/
.music-box {
  position: fixed;
  width: 230px;
  height: 150px;
  z-index: 120;
  bottom: 30px;
  right: 30px;
}

@media (max-width: 991px) {
  .music-box {
    width: 50px;
    height: 150px;
    right: auto;
    right: 10px;
    top: 10px;
  }
}

.music-box .music-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: -30px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.music-box .music-holder iframe {
  width: 100%;
  height: 100%;
}

.music-box button {
  background: rgba(248, 246, 246, 0.85);
  width: 50px;
  height: 50px;
  line-height: 37px;
  font-size: 18px;
  font-size: 1rem;
  color: #5a716b;
  border: 1px solid #e6e6e6;
  outline: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.music-box button i {
  font-size: 20px;
}

@media (max-width: 991px) {
  .music-box button {
    right: 0;
    left: auto;
  }
}

.music-box .toggle-music-box {
  top: -50px;
  visibility: visible;
  opacity: 1;
}

.music {
  padding: 0;
  background: none !important;
  border: none !important;
  position: relative;
  top: 100px;
  left: 180px;
}

.music:focus {
  outline: none;
}

.fa-stack {
  right: 12px;
  top: -65px;
  width: 0;
  height: 0;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > * {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
/* desktop version */
@media (min-width: 992px) {
  .jumbotron {
    background-image: url(./images/cover.png);
    background-size: cover;
    height: 640px;
    margin-top: -75px;
  }
}
.icon img {
  width: 100px;
  opacity: 0.9;
}

/* mobile version */
@media (max-width: 767.98px) {
  nav {
    position: fixed;
    bottom: 0;
  }
  .navbar {
    padding: 10px 10px;
    display: flex;
  }
  .logo {
    display: none;
  }
  .link {
    margin: auto;
  }
  link a {
    font-size: 5px;
  }
  .jumbotron .display-4 {
    text-align: center;
    margin-top: 0;
    font-family: Montserrat;
    font-size: 35px;
    text-transform: uppercase;
  }
  .jumbotron .display-31 {
    text-align: center;
    margin-top: 40px;
    font-family: 'Ephesis', cursive;
    font-size: 45px;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }
  .jumbotron .display-32 {
    text-align: center;
    margin-top: 150px;
    font-family: Dancing Script;
    font-size: 45px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }
  .waktu {
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    border-radius: none;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .waktu .counter {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Klee One', cursive;
    color: black;
  }
  #mempelainya .container .dan {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 80px;
    margin-top: 0;
  }
  #pembukaan img {
    box-shadow: none;
    border-radius: none;
    margin-top: 20px;
  }
  #pembukaan p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #kisah {
    margin-top: 25px;
    box-shadow: none;
    border-radius: none;
  }
  #akad {
    background-color: #ffffff;
  }
  #akad h2 {
    font-family: Montserrat;
    text-transform: uppercase;
    color: #3d1f14;
    font-size: 35px;
  }
  #akad h3 {
    font-family: Montserrat;
    font-size: 30px;
  }
  #akad p {
    font-family: Montserrat;

    font-size: 16px;
  }

  #mempelainya h2 {
    font-size: 35px;
  }
  .tehagi {
    width: 200px;
    margin-top: 26px;
  }
  #tamu h2 {
    margin-top: -20px;
  }
  .icon img {
    width: 150px;
    opacity: 0.9;
  }
  .prokes {
    margin-top: -25px;
    padding-top: 40px;
  }
}
